.header{
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 30px;
  align-items: center;
  margin: 0 auto;
}
.header-ttl{
  width: auto;
  height: 100%;
}
.header-nav-list{
  display: flex;
}
.header-nav-list-item a{
  text-decoration: none;
  color: gray;
}
.header-nav-list-item:not(:last-child){
  margin-right: 10px;
}
.page1-top{
  margin-top: 20px;
  position: relative;
}
.page1-top-img{
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}
.page1-top-img img{
  width: 100%;
}
.page1-top-text{
  position: absolute;
  top: 10%;
  left: 20%;
}
.page1-top-text-ttl{
  font-size: 36px;
  font-family: 'Indie Flower', cursive;
  color:rgb(154, 28, 135);
  line-height: 60px;
}
.page1-top-text-ttl-span{
  color: lightseagreen;
}
.page1-top-text-exp{
  margin-top: 30px;
}
.page1-top-text-exp-jpn{
  font-size: 20px;
  color:rgb(154, 28, 135);
  font-weight: bold;
}
.page1-top-text-exp-jpn-spn{
  color: lightseagreen;
}
.page1-top-text-exp-eng{
  margin-top: 20px;
  line-height: 20px;
  font-size: 14px;
  color: gray;
}
.page1-bottom{
  margin: 80px auto;
  width: 70%;
  color: gray;
}
.page1-bottom-news{
  color:rgb(154, 28, 135);
  font-family: 'Indie Flower', cursive;
}
.page1-bottom-ttl{
  margin-top: 20px;
}
.page1-bottom-list{
  margin-top: 40px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 20px 0;
}
.page1-bottom-list-item{
  display: flex;
  font-size: 14px;
  border-bottom: solid 1px gray;
  padding: 10px 0;
  align-items: center;
}
.page1-bottom-list-item-news{
  margin-right: 20px;
  background-color:rgb(154, 28, 135);
  width: 70px;
  text-align: center;
  color: white;
  padding: 3px 10px;
  border-radius: 10px;
}
.page1-bottom-list-item-date{
  margin-right: 20px;
}
.page2-main{
  width: 80%;
  text-align: center;
  margin: 30px auto;
}
.page2{
  background-color: gainsboro;
  color: gray;
  padding: 20px 20px;
}
.main-ttl1{
  color:rgb(154, 28, 135);
  font-family: 'Indie Flower', cursive;
}
.main-ttl2{
  margin: 20px 0;
  font-size: 20px;
  color: gray;
}
.page2-main-contents{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.page2-main-contents-right{
  width: 40%;
}
.page2-main-contents-right img{
  width: 100%;
}
.page2-main-contents-left{
  font-size: 12px;
  text-align: left;
  width: 40%;
  line-height: 20px;
}
.page2-main-contents-left-1{
  margin-bottom: 20px;
}
.page3{
  background-color: none;
  color: white;
  padding: 20px 20px;
}
.page3-main{
  width: 80%;
  text-align: left;
  margin: 30px auto;
}
.page3-main-contents{
  display: flex;
  height: 300px;
  margin: 50px 0;
}
.page3-main-contents-left{
  background-color: rgb(154, 28, 135);
  text-align: center;
  padding: 20px 20px;
  height: 100%;
  box-sizing: border-box;
}
.page3-main-contents-img{
  width: 30%;
  display: inline-block;
}
.page3-main-contents-ttl{
  font-weight: bold;
  margin: 10px 0;
  font-size: 14px;
}
.page3-main-contents-text{
  margin: 0 20px;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
}
.page3-main-content-right-1{
  background-color: rgb(117, 4, 100);
  display: flex;
  height: 50%;
  padding: 20px 10px;
  box-sizing: border-box;
}
.page3-main-content-right-2 {
  background-color: rgb(81, 59, 78);
  display: flex;
  height: 50%;
  padding: 20px 10px;
  box-sizing: border-box;
}
.page3-main-content-right{
  height: 100%;
}
.page3-main-contents-img-right {
  width: 50%;
  display: inline-block;
}
.page3-main-contents-ttl-right {
  font-weight: bold;
  margin: 10px 20px;
  font-size: 14px;
}
.page3-main-contents-text-right {
  margin: 0 20px;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
}
.page4 {
  background-color: gainsboro;
  color: gray;
  padding: 20px 20px;
}
.page4-main {
  width: 80%;
  text-align: left;
  margin: 30px auto;
}
.page4-main-contents{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.page4-main-contents-item{
  width: 30%;
  position: relative;
  background-color: rgb(229, 229, 229);
  border-radius: 10px;
  text-decoration: none;
  color: gray
}
.page4-main-contents-item-img img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.page4-main-contents-item-blog{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(154, 28, 135);
  color: gainsboro;
  font-size: 14px;
  padding: 8px 8px;
  border-top-left-radius: 10px;
}
.page4-main-contents-item-text{
  font-size: 11px;
  margin: 10px;
  line-height: 16px;
  font-weight: bold;
  text-decoration: none;
}
.page4-main-contents-item-footer{
  font-size: 10px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-bottom: 20px;
}
.page4-main-link{
  text-align: center;
  margin: 50px 0;
}
.page4-main-link-1{
  display: inline-block;
  width: 124px;
  text-decoration: none;
  padding: 15px;
  background-color:rgb(229, 229, 229) ;
  border: 1px solid rgb(154, 28, 135);
  border-radius: 30px;
  color: rgb(154, 28, 135);
}
.page5 {
  background-color: none;
  color: gray;
  padding: 20px 20px;
}
.page5-main {
  width: 60%;
  text-align: left;
  margin: 30px auto;
}
.page5-main-contents-table{
  width: 100%;
}
.page5-main-contents-table-item{
  border: 1px solid gray;
  font-size: 20px;
}
table th{
  border-right: 1px solid gray;
  background-color: gainsboro;
  color: black;
  padding-left: 10px;
  line-height: 60px;
}
table td{
  padding-left: 10px;
}
.page6{
text-align: center;
}
.page6-main-top{
  display: flex;
  width: 100%;
  margin-top: 50px;
}
.page6-main-top-box-img{
  width: 100%;
}
.page6-main-top-box-img img{
  width: 100%;
}
.page6-main-top-box{
  position: relative;
}
.page6-main-top-box a{
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: white;
  display: inline-block;
  text-decoration: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page6-main-small{
  margin-top: 50px;
  margin-bottom: 100px;
  color: gray;
  display: block;
}
.page6-main-link-a{
  background: linear-gradient(90deg,rgb(234, 86, 212), rgb(154, 28, 135));
  text-align: center;
  padding: 32px;
  width: 250px;
  border-radius: 48px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0px 10px 1px rgb(106, 42, 106);
  position: relative;
  display: inline-block;
}
.page6-main-link-a::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 15px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
}
.footer{
  background-color: gainsboro;
  margin-top: 80px;
  text-align: center;
  line-height: 80px;
  color: gray;
}